<h2>Update the drone</h2>
<form action="/drones/{{result._id}}/edit"  method="POST">
    <input type="text" name="name" value="Name: {{result.name}}">
    <input type="text" name="propellers" value="Propellers: {{result.propellers}}">
    <input type="text" name="maxSpeed" value="Speed: {{result.maxSpeed}}">

    <button type="submit">Submit</button>
</form>